.appointment-form {
  &__card {
    background-color: var(--primary-color);
    color: var(--primary-color-text);
    padding: 40px 30px;
  }

  &__title {
    margin: 0 0 40px;
    text-align: center;
    text-transform: uppercase;
  }
}
