@import 'variables';

:host {
  @media only screen and (min-width: $xl) {
    position: absolute;
    top: 345px;
    left: 937px;
    max-width: 438px;
  }
}

.appointment-form {
  &__card {
    background-color: var(--primary-color);
    color: var(--primary-color-text);
    padding: 34px 14px;
  }

  &__title {
    margin: 0 0 36px;
    text-align: center;
    text-transform: uppercase;
  }

  &__wrapper {
    padding: 0 17px;
  }
}
