@import 'variables';

.appointment {
  &__title {
    margin: 22px 0 6px;
  }

  &__excerpt {
    margin: 0 0 34px;
  }

  &__image {
    // CSS variables could not be used in @media declaration
    @media only screen and (min-width: $xl) {
      max-width: 900px;
    }
  }
}
