<p-toast></p-toast>

<div class="col">
  <div class="grid">
    <div class="col-12">
      <h1 class="appointment__title">Book Your Barber</h1>
    </div>
    <div class="col-12">
      <h3 class="appointment__excerpt">
        Great Hair Doesn't Happen By Chance. It Happens By Appointment!<br />
        So Don't Wait And Book Your Appointment Now!
      </h3>
    </div>
    <div class="col-12 flex justify-content-center">
      <img
        src="assets/images/barber.jpg"
        alt="Barber"
        class="appointment__image"
      />
    </div>
    <div class="col-12">
      <rdx-appointment-form
        [appointments]="appointments"
        [barbers]="barbers"
        [services]="services"
        (formSubmit)="onFormSubmit($event)"
      ></rdx-appointment-form>
    </div>
    <div class="xl:col-12 xl:block hidden my-6"></div>
  </div>
</div>
