%disabled {
  &:disabled {
    cursor: not-allowed;
    opacity: 1;
  }
}

body {
  @extend .p-reset;
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: var(--font-weight);
  letter-spacing: 0.6px;
}
