:root {
  --font-family: 'Roboto Slab', serif;
  --font-family-secondary: 'Squada One', cursive;
  --font-weight: 500;
  --primary-color: #1c2843;
  --secondary-color: #fcf4ea;
  --text-color: #2d2720;
}
