:root {
  --body-color: #fcf4ea;
  --border-radius: 5px;
  --font-family: 'Roboto Slab', serif;
  --font-family-secondary: 'Squada One', cursive;
  --font-weight: 500;
  --primary-color: #1c2843;
  --secondary-color: #fe9564;
  --text-color: #2d2720;
  --text-color-secondary: #6b6b6b;
}
