.appointment {
  &__title {
    margin: 17px 0 1px;
    text-align: center;
    text-transform: uppercase;
  }

  &__excerpt {
    margin: 0 0 34px;
    text-align: center;
  }

  &__image {
    border: 3px solid var(--primary-color);
    padding: 10px;
  }
}
