<div class="col">
  <div class="grid">
    <div class="col-12">
      <h1 class="appointment__title">Book Your Barber</h1>
    </div>
    <div class="col-12">
      <h3 class="appointment__excerpt">
        <div>
          Great Hair Doesn't Happen By Chance. It Happens By Appointment!
        </div>
        <div>So, Don't Wait And Book Your Appointment Now!</div>
      </h3>
    </div>
    <div class="col-12">
      <img
        src="assets/images/barber.jpg"
        alt="Barber"
        class="appointment__image"
      />
    </div>
  </div>
</div>
